.html-format-container {
  @media (max-width: 1400px) {
    .input-name {
      display: none;
    }
  }

  @media (max-width: 1100px) {
    .html-format-container {
      min-height: 100vh;
    }
    .html-format {
      flex-direction: column;
    }
    .input-container,
    .output-container {
      width: 100%;
    }
    .input-container {
      min-height: 320px;
    }
    .input-textarea {
      overflow: hidden;
    }
    .output-header {
      gap: 8px;
    }

    .output-accept {
      img {
        transform: rotate(90deg);
      }
    }
    .output-textarea {
      min-height: 400px;
      overflow: hidden;
    }
    .output-container {
      flex: 1;
    }
  }

  @media (max-width: 555px) {
    .html-input-control {
      flex-direction: column;
      align-items: start;
    }
  }
}
