:root {
  --bg: #fafafa;
  --text: #313131;
  --grey-lines: #4e4e4e;
  --accent: #ff5353;
  --accent-hover: #e04a4a;

  --dark: #1f2020;
  --dark-hover: #2c2d2d;
  --text-light: #eeeeee;
  --blue: #1e3a8a;
  --blue-hover: #2e4bb0;
  --grey: #e9e9e9;
  --light-grey: #f8f9fa;
  --red: #991e2a;
  --red-hover: #c82333;
  --text-grey: #566274;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--dark);
  background: var(--bg);
  font-family: var(--font-open), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.4;
}
h1,
h2,
h3 {
  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-open);
}

button,
label {
  display: block;
  font-family: inherit;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
  font-family: var(--font-jet-mono);
  font-size: 14px;
  border: none;
}

ul,
ol {
  list-style-type: none;
}

select {
  outline: none;
}
