.about {
  padding: clamp(14px, 2vw, 44px);
  text-align: center;
  background: #fff;
}

.about-title {
  font-size: clamp(16px, 2vw, 24px);
  margin-bottom: 8px;
  text-transform: uppercase;
}

.about-text {
  font-size: clamp(14px, 2vw, 20px);
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--font-inter);
}

.main {
  display: flex;
  flex: 1;
  section {
    width: 50%;
  }
}

@media (max-width: 1230px) {
  .main {
    flex-direction: column;
    section {
      width: 100%;
    }
  }
}
