.header {
  height: 40px;
  background: transparent;
  display: flex;
  align-items: center;
  background: var(--dark);
  padding: 0 12px;
}

.header__title {
  font-size: 18px;
  color: var(--text-light);
  font-weight: 400;
}
