.service-header {
  height: 48px;
  background: transparent;
  display: flex;
  align-items: center;
  background: var(--dark);
  padding: 0 12px;
  a {
    line-height: 1;
  }
}

.service-logo {
  fill: var(--bg);
  margin-right: 16px;
}

.service-title {
  font-size: 18px;
  color: var(--text-light);
  font-weight: 400;
}
